body {
    background-image: url("../../images/mainbg.jpg");
    background-color: lightyellow;
    font-family: Comic Sans MS, sans-serif;
   }
.pageTitle {
    color: white;
    font-weight: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container {
    text-align: left;
    line-height: 30px;
    margin-left: 170px;
    width: 1000px;
}

.card {
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    background-image: url("../../images/card.png");
    background-position: 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
}

.addTask {
    padding: 20px;
    text-align: left;
    font-size: 17px;
    font-weight: 100px;
    color: white;
    background-color: #1DB9C3;
    max-width: 500px;
    min-height: 240px;
    border: 1px solid black;
    border-radius: 10px;
    
}
input {
    min-height: 30px;
    min-width: 270px;
    border-bottom: 2px solid black;
    /* border-radius: 3px; */
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }

label {
    width: 120px;
}

.newTask {
    font-size: 25px;
    line-height: 20px;
    margin-bottom: 20px;
}

.btn-sm{
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.innerTask {
   max-width: 170px;
   max-height: 130px;
   text-align: left;
   margin-top: 45px;
   margin-left: 12px;   
   overflow: auto;
   opacity: 1;
   animation-name: fadeInOpacity;
   animation-iteration-count: 1;
   animation-timing-function: ease-in;
   animation-duration: 1s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.taskText {
    margin-bottom: 10px;
    line-height: 25px;
}

.smallerFont{
    font-size: 12px;
    font-weight:bold;
    line-height: 20px;
    color:floralwhite;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: white; 
  }
   

  ::-webkit-scrollbar-thumb {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .deleteBut {
     font-size: 11px;
     background-color: white;
     font-weight:bold;
     position: absolute;
     top: 29px;
     right:15px;
     border: 2px solid black;
     border-radius: 3px;
     line-height: 20px;    
  }

  .hidden {
      display: none;
  }

  .messageToUser {
      color:maroon;
      font-weight: bold;
  }
